@model IEnumerable<PicturyMarket.Domain.Entity.Pictury>

@{
    ViewData["Title"] = "GetPictures";
}

@foreach(var pictury in Model)
{
    <h>pictury.name</h>
    <p>pictury.description</p>
    <p>pictury.image_Url</p>
    <p>pictury.price</p>
    <p>pictury.data_create</p>
    <p>pictury.genre</p>
}